<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <!-- Add your CSS links, meta tags, or other headers here -->
    <link rel="stylesheet" href="path/to/your/styles.css">
</head>
<body>
    <header>
    <h1>Welcome to My Website</h1>
    <!-- Add your personal details here -->
    <div>
        <p>Name: Shrey Shah</p>
        <p>ID: N01549811</p>
        <p>Email: shreyshah2300@gmail.com</p>
   
    </div>
   
</header>


    <!-- Content from individual pages will be injected here -->
    {{{body}}}

   <header>
    <h1>Welcome to My Website</h1>
    <!-- Add your personal details here -->
    <div>
        <p>Name: Shrey Shah</p>
        <p>ID: N01549811</p>
        <p>Email: shreyshah2300@gmail.com</p>
    </div>
  
</header>

</body>
</html>
