<!DOCTYPE html>
<html>
<head>
    <title>Insert Invoice</title>
</head>
<body>
    <h1>Insert Invoice</h1>
    <form action="/api/store-sales" method="POST">
        <label for="invoiceID">Invoice ID:</label>
        <input type="text" id="invoiceID" name="InvoiceNo"><br><br>
        <label for="image">Image:</label>
        <input type="text" id="image" name="image"><br><br>
        <label for="manufacturer">Manufacturer:</label>
        <input type="text" id="manufacturer" name="Manufacturer"><br><br>
        <label for="class">Class:</label>
        <input type="text" id="class" name="class"><br><br>
        <label for="sales">Sales in thousands:</label>
        <input type="text" id="sales" name="Sales_in_thousands"><br><br>
        <label for="resaleValue">Yearly Resale Value:</label>
        <input type="text" id="resaleValue" name="__year_resale_value"><br><br>
        <label for="vehicleType">Vehicle Type:</label>
        <input type="text" id="vehicleType" name="Vehicle_type"><br><br>
        <!-- Add other form fields as needed -->
        <label for="price">Price in thousands:</label>
        <input type="text" id="price" name="Price_in_thousands"><br><br>
        <label for="engineSize">Engine Size:</label>
        <input type="text" id="engineSize" name="Engine_size"><br><br>
        <label for="horsepower">Horsepower:</label>
        <input type="text" id="horsepower" name="Horsepower"><br><br>
        <label for="wheelbase">Wheelbase:</label>
        <input type="text" id="wheelbase" name="Wheelbase"><br><br>
        <label for="width">Width:</label>
        <input type="text" id="width" name="Width"><br><br>
        <label for="length">Length:</label>
        <input type="text" id="length" name="Length"><br><br>
        <label for="curbWeight">Curb Weight:</label>
        <input type="text" id="curbWeight" name="Curb_weight"><br><br>
        <label for="fuelCapacity">Fuel Capacity:</label>
        <input type="text" id="fuelCapacity" name="Fuel_capacity"><br><br>
        <label for="fuelEfficiency">Fuel Efficiency:</label>
        <input type="text" id="fuelEfficiency" name="Fuel_efficiency"><br><br>
        <label for="latestLaunch">Latest Launch:</label>
        <input type="text" id="latestLaunch" name="Latest_Launch"><br><br>
        <label for="powerFactor">Power Performance Factor:</label>
        <input type="text" id="powerFactor" name="Power_perf_factor"><br><br>
        <!-- Add other form fields as needed -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>
